body {
  color: rgb(15, 144, 34);
  background-image: url("../resources/background.jpg");
  font-size: large;
  font-family: "CourierNew", Courier, monospace;
  padding: 0%;
  margin: 0%;
}

ol {
  list-style-position: outside;
}

.narrowcontent {
  padding-left: 250px;
  padding-right: 250px;
}
