<html>
    <head>
        <title>
            My_Hobbies
        </title>
        <link href='../css/hobbiesstyles.css' type='text/css' rel='stylesheet'>
    </head>
    <body>
        <div style="margin-left:50px;margin-top:100px;width:400px;height:500px; background-color: darkblue;z-index:-1;position:absolute;text-align: center;">
            <h1>Playing Games</h1><br>
            <div style="padding-right: 50px;padding-left: 20px;">
                <div style="font-size:large;"> I like to play games as a way to de-stress. I play many game genres such as:</div><br><br><br><br>
                <table style="border-collapse: collapse;border-color: black; width: 260px; height: 200px;margin-right:50px;margin-left:50px;text-align: center;"border=1>
                    <tr>
                        <th>MOBA</th>
                        <td>
                            <ul>
                                <li>
                                    Dota 2
                                </li>
                                <li>
                                    Mobile Legends
                                </li>
                            </ul>
                        </td>
                        
                    </tr>
                    <tr>
                        <th>FPS</th>
                        <td>
                            <ul>
                                <li>
                                    Valorant
                                </li>
                                <li>
                                    Apex Legends
                                </li>
                                <li>
                                    Rainbow 6
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Open World Games</th>
                        <td>
                            <ul>
                                <li>
                                    Elden Ring
                                </li>
                                <li>
                                    Farcry 6
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="margin-left:400px;margin-top:30px;width:800px;height:300px;z-index:1;position:absolute;background-color: green;">
            <table style='width: 100%;height:100%;'>
                <tr>
                    <th>
                        <h1>Programming</h1>
                    </th>
                    <td>
                        <a href="https://github.com/bumpefy/asmFileEditor.git" target=blank><text style='font-size: large;padding-left: 50px;'>I like to make simple programs in my free time.</a></text>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-right:70px; margin-top: 60px; margin-left: 1120px;width:400px;height:600px;z-index:2;position:absolute;background-color: purple;text-align: center;">
            <h1>Reading</h1><br>
            <h3 class="narrowcontent">I got into reading a few years ago. Some of the books I've read are:</h3><br><br>
            <table class='narrowtable'>
                <tr><th>Kafka on the Shore by Haruki Murakami</th><td><img src="../resources/kafka.jpg" alt='kafka on the shore' class='book'></td></tr>
                <tr><th>Colorless Tsukuru Tazaki</th><td><img src="../resources/colorless.jpg" alt='colorless tsukuru Tazaki' class='book'></td></tr>
                <tr><th>When breath becomes air</th><td><img src="../resources/breath.jpg" alt='when breath becomes air' class='book'></td></tr>
                <tr><th>The book thief</th><td><img src="../resources/book.jpg" alt='book thief' class='book'></td></tr>
            </table>
        </div>
        <div style="margin-left:500;margin-right:auto; margin-top:300px;width:600px;height:400px;z-index:3;position:absolute; background-color: red;text-align: center;">
            <iframe src="https://youtu.be/yiw6_JakZFc" title='I also like watching YouTube'></iframe>
        </div>
    </body>
</html>