<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='../css/styles.css' type='text/css' rel='stylesheet'>
    </head>
    <body style="color:white;text-align: center;overflow:hidden;background-color: black;">
        <img src="../resources/border.png" style="width:100%;height:100%;z-index:1;position:absolute">
        <img src='../resources/static.gif' style="width:75%;height:90%;padding-left: 95px;padding-top: 10px;z-index:0;position:absolute">
        <marquee direction=up loop='infinite' style='text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000; '>
            <img src='../resources/picture.JPG' style='width:150px;margin-left: 500px;'>
            <h1 style="margin-left: 300px;">&emsp;&emsp;&emsp;Sirazulhaq bin Abdul Majid</h1>
            <div style="width:500px;margin-left: 350px;">
            <p><h2 style='margin-bottom: -10px;'>&emsp;&emsp;Previous schools:</h2><h3><ol><li style='margin-bottom: -17px;'>SK Methodist;</li><br><li style='margin-bottom: 10px;'>Kolej Yayasan Saad;</li><br></ol></h3></p>
            <p><h2 style='margin-bottom: -10px;'>&emsp;&emsp;Favourite Food:</h2><h3><ul><li>Roti Canai</li><li style='margin-bottom: 50px;'>Nasi Goreng Tomyam</li></ul></h3></p>
            <p><h2 style='margin-bottom: 10px;'>&emsp;&emsp;Number of Siblings:</h2><h3>&emsp;&emsp;3</p></h3>
            <p><h2 style='margin-bottom: 10px;'>&emsp;&emsp;Games I Play</h2></h2><h3><ul><li>Dota 2</li><li style='margin-bottom: 50px;'>Valorant</li></ul></h3></p>
        </div>
    </marquee>
    </body>
</html>